.hidden {
  display: none;
}

.edit-form {
  padding-top: 30px;
}

.review-form-title {
  background-color: #F5FADC;
}

#name-show {
  font-size: 80px;
}

#name {
  text-shadow: 1px 1px #000;
}

.edit-rating {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.review-padding {
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

.rating-field {
  margin-left: auto;
  width: 50px;
}

#average {
  margin-top: -10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

#location {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

#up, #down {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 5px;
}

.review-margin {
  margin-left: 60%;
  margin-top: 20px;
  width: 400px;
  height: 390px;
}

.edit-review {
  font-size: 20px;
}

.top-review {
  font-size: 23px;
  text-align: center;
}

#username {
  font-size: 30px;
}

.review-side-space {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  margin-top: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

.review-info-box {
  border: solid;
  border-color: #000;
  border-radius: 10px;
  padding-top: 2%;
  background-color: #F5FADC;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  display:inline-flex;
  max-width: 50%;
  float:left;
  text-align: center;
  border: solid;
  border-color: #000;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 20px;
}

.center {
  text-align: center;
  padding-top: 15px;
}

.information {
  text-align: left;
  width: 500px;
  display:inline-flex;
}

label {
  font-size: 20px;
  font-weight: 400;
}

.review-form {
  border: solid;
  border-color: #000;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 260px;
  margin-right: 260px;
  margin-top: 50px;
  background-color: #F5FADC;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 50px;
}

.form-input {
  display: block;
  margin: auto;
}

#description, #body, .log {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

.votetile {
  margin-top: -25px;
}
