.hidden {
  display: none;
}

.padding {
  padding-top: 30px;
}

.edit-form-padding {
  text-align: center;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 100px;
}

.review-form-title {
  background-color: #F5FADC;
}

#name {
  font-family: 'Special Elite', cursive;
}

.edit-rating {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.review-padding {
  padding-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
}

.rating-field {
  margin-left: auto;
  width: 50px;
}

#location, #park-rating, #review-rating {
  font-family: 'Bebas Neue', cursive;
}

.review-margin {
  margin-left: 60%;
  margin-top: 20px;
  width: 400px;
  height: 390px;
}

.font-size {
  font-size: 30px;
}

.review-side-space {
  margin-left: 10%;
  margin-right: 10%;
}

.review-info-box {
  border: solid;
  border-color: #004D31;
  border-radius: 10px;
  padding-top: 2%;
  background-color: #F5FADC;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  display:inline-flex;
  max-width: 50%;
  float:left;
  text-align: center;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.information {
  text-align: left;
  width: 500px;
  display:inline-flex;
}

label {
  font-size: 20px;
  font-weight: 400;
}

.review-form {
  display: block;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 260px;
  margin-right: 260px;
  background-color: #F5FADC;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 50px;
}
